.tip-card {
    background-color: var(--color-card-bg);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px var(--color-shadow-light);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
}

.tip-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px var(--color-shadow);
}

.tip-icon {
    display: flex;
    align-items: baseline;
    margin-bottom: 1rem;
}

.tip-icon i {
    font-size: 20px;
    color: var(--color-dark-gray);
}

.tip-card h3 {
    font-size: 20px;
    font-weight: 600;
    color: var(--color-title);
    padding-left: 5px;
    margin: 0;
}

.tip-card p {
    text-align: justify;
    font-size: 18px;
    color: var(--color-text-medium);
    line-height: 1.5;
    margin: 0;
}

@media (max-width: 992px) {
    .tip-card {
        padding: 15px;
    }

    .tip-card h3 {
        font-size: 18px;
    }

    .tip-card p {
        font-size: 16px;
    }
}
